body {
    font: normal 15px Arial;
    background-color: rgb(0, 110, 255);
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    padding: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.548);
}

#res {
    padding: 15px;
}

footer {
    text-align: center;
    font-style: italic;
}